/***********HEADER**************/

.hidden {
    visibility: hidden;
    position: absolute;
}

.topNav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    z-index: 4;
    @include desktop {
        background-color: transparent;
    }
}

.logo {
    margin: 0 auto;
    width: 100px;
    display: flex;
    z-index: 2;
    img {
        padding-top: 10px;
        margin-top: 20px;
    }
}